.box {
    margin-left: auto; 
            margin-right: auto; 
            width: 90%;
            height: 710px; 
            background-color: #2d545e;
            padding: 50px; 
            box-sizing: border-box; 
            margin-bottom: 50px;
            margin-top: 25px;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}
nav {   
    text-align: center;
}
footer {
    text-align: center;
}


.box2 {
    display: flex;
    text-align: center;
}

.top5, .factBox {
    background-color: #2d545e;
    width: 43.7%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    display: block;
}

.top5 {
    margin-right: 20px;
    text-align: center;
    position: relative;
}
.factBox {
    margin-left: 20px;
    text-align: center;
}
.worldMap {
    margin-left: auto; 
    margin-right: auto; 
    width: 95%;
    height: 100%; 
    background-color: white;
    padding: 10px; 
    box-sizing: border-box; 
    border-radius: 10px;
}


.graphBox {
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    height: 600px; 
    background-color: #2d545e; 
    padding: 100px; 
    box-sizing: border-box; 
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    
}
.navBar {
    top: 0;
    left: 0; 
    width: 100%; 
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border-bottom: 1px solid black;
}

.box3 {
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    height: 600px; 
    background-color: #2d545e; 
    padding: 100px; 
    box-sizing: border-box; 
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}


/* Box 3 inside */

#box3Heading {
    font-size: 30px;
    margin-top: -30px;
    margin-left: 600px;
    color: aqua;
    text-shadow: 3px 3px 3px black;
}

#box3text {
    margin-top: auto;
    margin-left: 600px;
    text-align: auto;
    color: aqua;
    text-shadow: 3px 3px 3px black;
}

#top5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 100px;
  }

#mwiOutliers {
    position: absolute;
    bottom: 50px;
    left: 250px;
}

#wasteOutliers {
    position: absolute;
    bottom: 50px;
    left: 300px; /* Adjusted position to prevent overlapping */
}