body {
    font-family: 'Courier New', Courier, monospace;
 }
.box {
    margin-left: auto; 
            margin-right: auto; 
            width: 90%;
            height: 850px; 
            background-color: #2d545e;
            padding: 50px; 
            box-sizing: border-box; 
            margin-bottom: 50px;
            margin-top: 25px;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border: 3px solid black;
}
#headlineTop {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    
}

h1 {
    text-align: center;
}
nav {   
    text-align: center;
}
footer {
    text-align: center;
}


.box2 {
    display: flex;
    text-align: center;
}

.top5, .factBox {
    background-color: #2d545e;
    width: 43.7%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    display: block;
    border: 3px solid black;
}

.top5 {
    margin-right: 20px;
    text-align: center;
}
.factBox {
    margin-left: 20px;
    text-align: center;
}
.worldMap {
    margin-left: auto; 
    margin-right: auto; 
    width: 95%;
    height: 100%; 
    background-color: white;
    padding: 10px; 
    box-sizing: border-box; 
    border-radius: 10px;
}


.graphBox {
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    height: 600px; 
    background-color: #2d545e; 
    padding: 100px; 
    box-sizing: border-box; 
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border: 3px solid black;

    
}
.navBar {
    top: 0;
    left: 0; 
    width: 100%; 
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border-bottom: 1px solid black;
}

.box3 {
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    height: 600px; 
    background-color: #2d545e; 
    padding: 100px; 
    box-sizing: border-box; 
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border: 3px solid black;
}


/* Box 3 inside */

#box3Heading {
    font-size: 30px;
    margin-bottom: 20px;  
    color: aqua;
    text-shadow: 3px 3px 3px black;
}

#box3text {
    margin-top: auto;
    text-align: auto;
    color: aqua;
    text-shadow: 3px 3px 3px black;
}
legend {
    display: flex;
    align-items: center;
}

.color-bar {
    width: 1200 px; /* Juster bredden efter behov */
    height: 30px;
    background: linear-gradient(to right, #ffcccc, #ff0000); /* Juster farveskalaen efter behov */
}

.legend-text {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.legend-text span {
    font-size: 20px;
}

#Mwi {
    font-weight: bolder;
}


.quiz-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.question {
    font-size: 1.2em;
}
.buttons{
    display: flex;
    align-items:center;
    justify-content: center;
}
.button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    
}
.score, .explanation, .feedback {
    margin-top: 4   0px;
    font-size: 1.2em;
}
#box3Heading {
    margin-top: auto;
    text-align: auto;
}
.tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #000;
    padding: 5px;
    opacity: 0;
}

#coverimageContainer {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url('https://images.axios.com/zdWjyhSeVL0oz2CEvxV_sjujGWw=/0x141:2896x1770/1920x1080/2021/06/10/1623366900398.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#coverimageText {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 70px; 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}