body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #d1e4f0;
 }
.box {
    margin-left: auto; 
            margin-right: auto; 
            width: 90%;
            height: 1015px; 
            background-color: #2d545e;
            padding: 50px; 
            box-sizing: border-box; 
            margin-bottom: 50px;
            margin-top: 150px;
            border-radius: 10px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    
}
#headlineTop {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(105, 105, 105);
    
}

h1 {
    text-align: center;
}
nav {   
    text-align: center;
}
footer {
    text-align: center;
}


.box2 {
    display: flex;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Ensure it wraps on smaller screens */
}

.top5, .infoBox {
    background-color: #2d545e;
    width: 43.7%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    display: block;
}

.top5 {
    margin-right: 20px;
    text-align: center;
}
.infoBox {
    margin-left: 20px;
    text-align: center;

}
#infoboxHeading {
        color: white;
        margin-top: 20px;
        font-size: 35px;

}

#top5Heading{
    color: white;
    margin-top: 20px;
    font-size: 35px;
    font-style: Times New Roman;
}

.worldMap {
    margin-left: auto; 
    margin-right: auto; 
    width: 95%;
    height: 100%; 
    background-color: white;
    padding: 10px; 
    box-sizing: border-box; 
    border-radius: 10px;
}


.graphBox {
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    height: 600px; 
    background-color: #2d545e; 
    padding: 100px; 
    box-sizing: border-box; 
    margin-bottom: 0px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

    
}

.box3 {
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    height: 600px; 
    background-color: #2d545e; 
    padding: 100px; 
    box-sizing: border-box; 
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}


/* Box 3 inside */

#box3Heading {
    font-size: 30px;
    margin-bottom: 20px;  
    color: aqua;
    text-shadow: 3px 3px 3px black;
}

#box3text {
    margin-top: auto;
    text-align: auto;
    color: aqua;
    text-shadow: 3px 3px 3px black;
}
legend {
    display: flex;
    align-items: center;
}

.color-bar {
    width: 1200 px; /* Juster bredden efter behov */
    height: 30px;
    background: linear-gradient(to right,#81d4fa, #01579b); /* Juster farveskalaen efter behov */
}

.legend-text {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.legend-text span {
    font-size: 20px;
}

#Mwi {
    font-weight: bolder;
}

#maptext {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    font-size: larger;
    text-shadow: 1px 1px 1px rgb(105, 105, 105);
    text-align: center;
    
}


.quiz-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.question {
    font-size: 1.2em;
    font-weight: bolder;
}
.quizbuttons{
    display: flex;
    align-items:center;
    justify-content: center;
}
.quizbutton {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
    .next-button {
        appearance: none;
        background-color: #FAFBFC;
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        box-sizing: border-box;
        color: #24292E;
        cursor: pointer;
        font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        list-style: none;
        padding: 6px 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        word-wrap: break-word;
        margin-top: 15px;
    }
    .correct {
        color: rgb(0, 255, 0);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .wrong {
        color: red;
    }
    
    .score, .explanation, .feedback {
        margin-top: 4   0px;
        font-size: 1.2em;
    }

    #question, #explanation, #score {
        color: rgb(255, 255, 255);
    }
    
    #box3Heading {
        margin-top: auto;
        text-align: auto;
    }
  
  button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  button:focus {
    outline: 1px transparent;
  }
  
  button:before {
    display: none;
  }
  
  button:-webkit-details-marker {
    display: none;
  }



.tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #000;
    padding: 5px;
    opacity: 0;
}

#coverimageContainer {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url('https://www.undp.org/sites/g/files/zskgke326/files/migration/pacific/file_171.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#coverimageText {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 70px; 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
.heading {
    font: Tahoma;
    font-weight: bolder;
    font-size: larger;
    font-style: Tahoma;
    text-shadow: 1px 1px 1px rgb(105, 105, 105);

}

.chartcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#graphHeading {
    text-align: center; 
    margin: 0 auto; 
    margin-bottom: 10px;
    color: white; 
    width: 100%; 
    padding-top: 10px; 
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}